  # Tell Apache and Passenger where your app's 'public' directory is
  DocumentRoot {{ passenger_deploy_dir }}/public

  PassengerRuby /opt/rubies/{{ chruby_ruby_version }}/bin/ruby
  PassengerAppEnv {{ passenger_app_environment }}
  PassengerDefaultUser {{ passenger_app_user }}
  PassengerDefaultGroup {{ passenger_app_user }}
{% if passenger_debugging %}
  PassengerFriendlyErrorPages on
{% endif %}

  # Relax Apache security settings
  <Directory {{ passenger_deploy_dir }}/public>
    Allow from all
    Options -MultiViews
{% if apache_version is version('2.4', '>=') %}
    # Uncomment this if you're on Apache >= 2.4:
    Require all granted
{% endif %}
  </Directory>

  # no idea why this is needed, but apparently it is:
  AddType text/javascript .js
  AddType text/css .css
